.navbar-divider {
  background-color: black;
  width: 100%;
}
.home-page {
  height: 100vh;
  width: 100%;
  background-image: url("./assets/home/background-home-desktop.jpg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

@media (max-width: 768px) {
  .home-page {
    background-image: url("./assets/home/background-home-tablet.jpg");
  }
}

@media (max-width: 480px) {
  .home-page {
    background-image: url("./assets/home/background-home-mobile.jpg");
  }
}

html,
body {
  margin: 0;
  padding: 0;
  height: 100%;
}
h1 {
  font-size: 8rem !important;
}
.explore-btn {
  width: 150px;
  height: 150px;
  border-radius: 50%;
}
